<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cart</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
          <li><a href="/cart">Cart</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <% if (cart.cartItems.length > 0) { %>
      <div>Products</div>
      <% for (let cartItem of cart.cartItems) {%>
      <div>item</div>
      <% } %>
      <div>Total cost of cart: <%= cart.totalPrice %></div>
      <% } else { %>
      <div>No Cart Items</div>
      <%}%>
    </main>
  </body>
</html>
