<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop</title>
  </head>

  <body>
    <%- include('./navigation.ejs') %>
    <main>
      <form action="/reset-password" method="POST">
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="userID" value="<%= userID %>" />
        <input type="hidden" name="token" value="<%= token %>" />
        <button type="submit">Update Password</button>
      </form>
    </main>
  </body>
</html>
