<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reset</title>
  </head>

  <body>
    <%- include('./navigation.ejs') %>
    <main>
      <form action="/reset" method="POST">
        <div>
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Reset</button>
      </form>
    </main>
  </body>
</html>
